<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810578982053-p196bn8p9ipg3709v4ftk2a28fcvi6ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810578982053-p196bn8p9ipg3709v4ftk2a28fcvi6ka</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>810578982053-ef7chugg2fct7l6io3d7tis321hi1hnd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBY-VWbgxaPfGC0WnkSga4zWEFpSs0ybZU</string>
	<key>GCM_SENDER_ID</key>
	<string>810578982053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moonchain.mxc</string>
	<key>PROJECT_ID</key>
	<string>moonchain-app</string>
	<key>STORAGE_BUCKET</key>
	<string>moonchain-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810578982053:ios:bc715e679aa91fe221094c</string>
</dict>
</plist>